<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Weather Data</title>

<style>
p {
	color: #0b295b;
}
</style>

</head>

<body>
	<header>
			<h5> Weather Tracker</h5>	
	</header>

	<h4>Information</h4>

	<div th:object="${city}">
		<p th:text="'The temperature in '+*{list[0].name}+', '+*{list[0].sys.country}+
		' is '+${city.list[0].main.temp}+'°С'"/>
		
		<!-- +*{city.list[0].coord.lng}+' '+*{city.list[0].coord.lat}"/> -->

		<p th:text="*{list[0].weather[0].description}+', winds at '+*{list[0].wind.speed}+' km/h,
				  humidity is '+*{list[0].main.humidity}+' %'"/>
				  
		<p th:text="*{localTime}+'    '+*{timezone}"/>
	</div>

	<a th:href="@{search}">New Search</a>

</body>

</html>